In [1]:
def calculate_monthly_interest(balance, annual_rate):
    # Convert annual interest rate to monthly rate
    monthly_rate = annual_rate / 12 / 100
    return balance * monthly_rate

In [2]:
def interest_calculation(balances, annual_rate):
    # Calculate minimum balance for each month
    min_balances = [min(month_balance) for month_balance in zip(*balances)]
    total_min_balance = sum(min_balances)
    total_interest = calculate_monthly_interest(total_min_balance, annual_rate) * 6
    return total_interest

In [3]:
balances = [
    [1000, 1200, 1100, 1150, 1300, 1400, 1200, 1300, 1250, 1150, 1200, 1300, 1400, 1300, 1250, 1300, 1400, 1250, 1200, 1300, 1400, 1250, 1150, 1200, 1300, 1400, 1250, 1200, 1150, 1300, 1400, 1200, 1150, 1300, 1400, 1250, 1200, 1150, 1300, 1400, 1250, 1150, 1300, 1400, 1250, 1200, 1300, 1400, 1150, 1200, 1300, 1400, 1250, 1150],
    [1050, 1250, 1150, 1200, 1350, 1450, 1250, 1350, 1300, 1200, 1250, 1350, 1450, 1350, 1300, 1350, 1450, 1300, 1250, 1350, 1450, 1300, 1200, 1250, 1350, 1450, 1300, 1200, 1250, 1350, 1450, 1300, 1200, 1250, 1350, 1450, 1300, 1250, 1200, 1350, 1450, 1300, 1200, 1350, 1450, 1300, 1250, 1350, 1450, 1200, 1250, 1350, 1450, 1300],
    [1100, 1300, 1200, 1250, 1400, 1500, 1300, 1400, 1350, 1250, 1300, 1400, 1500, 1400, 1350, 1400, 1500, 1350, 1300, 1400, 1500, 1350, 1250, 1300, 1400, 1500, 1350, 1250, 1300, 1400, 1500, 1350, 1250, 1300, 1400, 1500, 1350, 1300, 1250, 1400, 1500, 1350, 1250, 1300, 1400, 1500, 1350, 1250, 1300, 1400, 1500, 1350],
    [1150, 1350, 1250, 1300, 1450, 1550, 1350, 1450, 1400, 1300, 1350, 1450, 1550, 1450, 1400, 1450, 1550, 1400, 1350, 1450, 1550, 1400, 1300, 1350, 1450, 1550, 1400, 1300, 1350, 1450, 1550, 1400, 1300, 1350, 1450, 1550, 1400, 1350, 1300, 1450, 1550, 1400, 1300, 1350, 1450, 1550, 1400, 1350, 1300, 1450, 1550, 1400],
    [1200, 1400, 1300, 1350, 1500, 1600, 1400, 1500, 1450, 1350, 1400, 1500, 1600, 1500, 1450, 1500, 1600, 1450, 1400, 1500, 1600, 1450, 1350, 1400, 1500, 1600, 1450, 1350, 1400, 1500, 1600, 1450, 1350, 1400, 1500, 1600, 1450, 1400, 1350, 1500, 1600, 1450, 1350, 1400, 1500, 1600, 1450, 1400, 1350, 1500, 1600, 1450],
    [1250, 1450, 1350, 1400, 1550, 1650, 1450, 1550, 1500, 1400, 1450, 1550, 1650, 1550, 1500, 1550, 1650, 1500, 1450, 1550, 1650, 1500, 1400, 1450, 1550, 1650, 1500, 1400, 1450, 1550, 1650, 1500, 1400, 1450, 1550, 1650, 1500, 1450, 1400, 1550, 1650, 1500, 1400, 1450, 1550, 1650, 1500, 1450, 1400, 1550, 1650, 1500]
]

annual_rate = 6

In [4]:
total_interest = interest_calculation(balances, annual_rate)
print(f"Total Interest for 6 Months: {total_interest:.2f}")

Total Interest for 6 Months: 1945.50